<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SML 관리자페이지</title>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@1.0.0"></script>
    <script src="js/userChart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>
<body>
<h1>관리자 페이지</h1>
<h2>시각화 자료 검색</h2>
<h2>로그 관리</h2>
<p>test chart data list 보기</p>
<canvas id="loginChart" width="984" height="492"></canvas>
</body>
</html>